@{
    Layout = null;

}
<html>
<head>
    <title>Yazılım Kursu</title>
    <meta name="keywords" content="yazılım, mobil uygulama, web tasarım" />
    <meta name="description" content="Infotech Academy Resmi Web Sitesi" />
    <link rel="shortcut icon" href="/images/hb.ico" />
</head>
<body>

   <h1>MERHABA</h1>
   <h2>MERHABA</h2>
   <h3>MERHABA</h3>
   <h4>MERHABA</h4>
   <h5>MERHABA</h5>
   <h6>MERHABA</h6>
   <a target="_blank" href="https://www.infotechacademy.com.tr">
        <img src="~/images/banner-02.jpg" height="100" alt="Web Site Banner" />
   </a>
  
   <ul>
       <li>İstanbul</li>
       <li>Ankara</li>
       <li>İzmir</li>
       <li>Kocaeli</li>
       <li>Konya</li>
   </ul>
    <span>Türkiye</span>
    <span>Almanya</span>
    <div>Merhaba</div>
    <div>Dünya</div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SIUXNdytL4o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>